@font-face {
  font-family: MrEaves;
  src: url('fonts/MrEaves.otf');
}

@font-face {
  font-family: ScalySans;
  src: url('fonts/Scaly\ Sans/Scaly Sans.otf');
}

@font-face {
  font-family: ScalySansItalic;
  src: url('fonts/Scaly\ Sans/Scaly Sans Italic.otf');
}

@font-face {
  font-family: ScalySansBold;
  src: url('fonts/Scaly\ Sans/Scaly Sans Bold.otf');
}

@font-face {
  font-family: ScalySansBoldItalic;
  src: url('fonts/Scaly\ Sans/Scaly Sans Bold Italic.otf');
}

@font-face {
  font-family: ScalaSansCaps;
  src: url('fonts/ScalaSansCaps.otf');
}
