# This is a basic workflow to help you get started with Actions

name: Deploy

# Controls when the action will run. Triggers the workflow on push to master
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    # run node setup
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    
    - name: Build Number Generator
      uses: einaregilsson/build-number@v2
      with:
        token: ${{secrets.github_token}}

    - name: Write build number to file
      run: |
        rm build.json
        echo {\"build\":$BUILD_NUMBER} >> build.json
    
    # install packages
    - run: yarn install

    - name: Build dist
      run: yarn build

    - name: GitHub Pages
      uses: crazy-max/ghaction-github-pages@v2.1.0
      with:
        repo: git@github.com:ebshimizu/5emm.git
        target_branch: master
        build_dir:  dist
      env: ${{ secrets.GITHUB_TOKEN }}
